### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("C:/AllHw/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("C:/AllHw/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Show data
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())

# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate average math scores
average_math_score = school_data_complete["maths_score"].mean()

# Calculate average reading scores
average_reading_score = school_data_complete["reading_score"].mean()

# Calculate the total number of students that passed math individually
passing_math_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]

# Calculate percentage of students that passed math individually
passing_math_percentage = (passing_math_count/student_count) * 100

# Calculate the total number of students that passed reading individually
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]

# Calculate percentage of students that passed reading individually
passing_reading_percentage = (passing_reading_count/student_count) * 100

# Calculate the number and percentage of students that passed both reading and math
passing_math_reading = school_data_complete[(school_data_complete["maths_score"] >= 50)
                                              & (school_data_complete["reading_score"] >= 50)]

total_passing_math_reading_count = passing_math_reading["student_name"].count()

# Calculate overall passing percentage for math and reading
total_passing_percentage = (total_passing_math_reading_count/student_count) * 100

# Dataframe to hold Local Government Area Summary
district_summary = pd.DataFrame([{"Total Schools": school_count,
                "Total Students": student_count,
                "Total Budget": total_budget,
                "Average Math Score": average_math_score,
                "Average Reading Score": average_reading_score,
                "% Student Passing Math": passing_math_percentage,
                "% Student Passing Reading": passing_reading_percentage,
                "% Overall Passing": total_passing_percentage}])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Student Passing Math,% Student Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [24]:
# School Type
indv_school_type = school_data_complete.groupby(["school_name"])["type"].first()

# Calculate total student count
indv_student_count = school_data_complete["school_name"].value_counts()

# Calculate school budget
indv_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()

# Calculate per student budget
indv_student_budget = (indv_school_budget/indv_student_count)

# Calculate average math scores
per_school_math = school_data_complete.groupby(["school_name"])["maths_score"].mean()

# Calculate average reading scores
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()

# Filter out passing scores
indv_school_passing_math = school_data_complete[(school_data_complete["maths_score"] >= 50)]
indv_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)]
overall_pass_count = school_data_complete[(school_data_complete["maths_score"] >= 50)
                                              & (school_data_complete["reading_score"] >= 50)]

#Calculate students passing math and reading by school
indv_school_math = indv_school_passing_math.groupby(["school_name"]).count()["student_name"]
indv_school_reading = indv_school_passing_reading.groupby(["school_name"]).count()["student_name"]

overall_pass_byschool = overall_pass_count.groupby(["school_name"]).count()["student_name"]

# Calculate the percent passing math and reading individually
indv_school_math_percent = (indv_school_math/indv_student_count) * 100
indv_school_reading_percent = (indv_school_reading/indv_student_count) * 100

# Calculate percentage of passing math and reading in all school
indv_overall_passing_percentage = (overall_pass_byschool /indv_student_count) * 100

# Create the DataFrame to hold the School Summary 
indv_school_summary = pd.DataFrame({"School Type": indv_school_type,
                                    "Total Students": indv_student_count,
                                    "Total School Budget": indv_school_budget,
                                    "Per Student Budget": indv_student_budget,
                                    "Average Math Score": per_school_math,
                                    "Average Reading Score": per_school_reading,
                                    "% Passing Math": indv_school_math_percent,
                                    "% Passing Reading": indv_school_reading_percent,
                                    "% Overall Passing": indv_overall_passing_percentage})
indv_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [9]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = indv_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

# "top_schools.head()" would also display thhe top 5 rows only

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [10]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = indv_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

# "bottom_schools.head()" would also display thhe top 5 rows only

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [45]:
# Separate the data by grades
ninth_graders = student_data[(student_data["year"] == "9")]
tenth_graders = student_data[(student_data["year"] == "10")]
eleventh_graders = student_data[(student_data["year"] == "11")]
twelfth_graders = student_data[(student_data["year"] == "12")]

# Group by "school_name" and take the mean of math scores for each grade
    # Note: There is no overall scores so selecting math scores directly for calculation

ninth_graders_math_scores = ninth_graders.groupby(["school_name"])["maths_score"].mean()
tenth_graders_math_scores = tenth_graders.groupby(["school_name"])["maths_score"].mean()
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"])["maths_score"].mean()
twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"])["maths_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_year = pd.DataFrame ({"9th" : ninth_graders_math_scores, 
                                      "10th" : tenth_graders_math_scores,
                                      "11th" : eleventh_graders_math_scores,
                                      "12th" : twelfth_graders_math_scores})

# Minor data wrangling
math_scores_by_year.index.name = None

math_scores_by_year = math_scores_by_year [["9th", "10th", "11th", "12th"]]

# Display the DataFrame
math_scores_by_year

Empty DataFrame
Columns: [9th, 10th, 11th, 12th]
Index: []

## Reading Score by Year

* Perform the same operations as above for reading scores

In [46]:
# Separate the data by grades
ninth_graders_r = school_data_complete[(school_data_complete["year"] == "9th")]
tenth_graders_r = school_data_complete[(school_data_complete["year"] == "10th")]
eleventh_graders_r = school_data_complete[(school_data_complete["year"] == "11th")]
twelfth_graders_r = school_data_complete[(school_data_complete["year"] == "12th")]

# Group by "school_name" and take the mean of reading scores for each grade
    # Note: There is no overall scores so selecting reading scores directly for calculation
ninth_graders_reading_scores = ninth_graders_r.groupby(["school_name"])["reading_score"].mean()
tenth_graders_reading_scores = tenth_graders_r.groupby(["school_name"])["reading_score"].mean()
eleventh_graders_reading_scores = eleventh_graders_r.groupby(["school_name"])["reading_score"].mean()
twelfth_graders_reading_scores = twelfth_graders_r.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_year = pd.DataFrame ({"9th" : ninth_graders_reading_scores, 
                                      "10th" : tenth_graders_reading_scores,
                                      "11th" : eleventh_graders_reading_scores,
                                      "12th" : twelfth_graders_reading_scores})

# Minor data wrangling
reading_scores_by_year = reading_scores_by_year[["9th", "10th", "11th", "12th"]]
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

Empty DataFrame
Columns: [9th, 10th, 11th, 12th]
Index: []

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [27]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = indv_school_summary.copy()

# Categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                                                spending_bins, labels=spending_labels)

#  Calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Assemble into DataFrame using the binned and average spending data
spending_summary = reading_scores_by_grade = pd.DataFrame ({"Average Math Score" : spending_math_scores, 
                                                            "Average Reading Score" : spending_reading_scores,
                                                            "% Passing Math" : spending_passing_math,
                                                            "% Passing Reading" : spending_passing_reading,
                                                            "% Overall Passing" : overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

* Perform the same operations as above, based on school size.

In [33]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Create a copy of the school summary since it has the "Total Students" 
school_size_df = indv_school_summary.copy()

school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], size_bins, labels = group_names)

#group by school size
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels = group_names)

# Calculate averages for the desired columns
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

# Create a DataFrame using the binned and averaged size data
size_summary = pd.DataFrame ({"Average Math Score" : size_math_scores, 
                              "Average Reading Score" : size_reading_scores,
                              "% Passing Math" : size_passing_math,
                              "% Passing Reading" : size_passing_reading,
                              "% Overall Passing" : size_overall_passing})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [36]:
# Group the per_school_summary DataFrame by "School Type", average the results and select new column data
average_math_score_by_type = indv_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
average_reading_score_by_type = indv_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
average_percent_passing_math_by_type = indv_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
average_percent_passing_reading_by_type = indv_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
average_percent_overall_passing_by_type = indv_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

# Assemble the new data by type into a DataFrame called `type_summary` using the new column data
type_summary = pd.DataFrame ({"Average Math Score" : average_math_score_by_type, 
                              "Average Reading Score" : average_reading_score_by_type,
                              "% Passing Math" : average_percent_passing_math_by_type,
                              "% Passing Reading" : average_percent_passing_reading_by_type,
                              "% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340